*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

section {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    section {
        min-width: 350px;
    }
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-20 {
    width: 70px;
    height: 70px;
    border: 3px dashed #d3d3d3;
    -webkit-animation: stars-rotate-reverse 2s linear both infinite;
    animation: stars-rotate-reverse 2s linear both infinite;
}

.loader-20 .css-diamond {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-color: transparent transparent #fff transparent;
}

.loader-20 .css-diamond:after {
    border-color: lightgrey transparent transparent transparent;
}

.css-diamond {
    border-style: solid;
    border-color: transparent transparent #ce93d8 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 100px;
    position: relative;
    margin: 20px 0 50px 0;
}

.css-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ce93d8 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.css-heart {
    position: absolute;
    /*      width: 100px;
          height: 90px;*/
}

.css-heart:before,
.css-heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #950d0d;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.css-heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.css-times {
    position: absolute;
    width: 100px;
    height: 90px;
}

.css-times:before,
.css-times:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 2px;
    height: 65px;
    background: red;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: times-background 1s ease-in-out infinite;
    animation: times-background 1s ease-in-out infinite;
}

.css-times:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.loader-21 {
    width: 100px;
}

.loader-21 .times1 {
    -webkit-animation: times-pulse 1s ease-in-out infinite;
    animation: times-pulse 1s ease-in-out infinite;
    left: 0;
}

.loader-21 .times2 {
    -webkit-animation: times-pulse 1s 0.2s ease-in-out infinite;
    animation: times-pulse 1s 0.2s ease-in-out infinite;
    left: 25px;
}

.loader-21 .times3 {
    -webkit-animation: times-pulse 1s 0.4s ease-in-out infinite;
    animation: times-pulse 1s 0.4s ease-in-out infinite;
    left: 50px;
}

.css-flower {
    position: absolute;
    background: green;
    width: 35px;
    height: 35px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    border-radius: 40%;
    border-top: 4px solid #ababa9;
}

.css-flower:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    height: 10px;
    width: 20px;
    background: green;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    border-radius: 10px;
}

.loader-22 .css-flower {
    position: absolute;
    -webkit-transform: rotate(180deg) scale(0.5);
    -ms-transform: rotate(180deg) scale(0.5);
    transform: rotate(180deg) scale(0.5);
}

.loader-22 .flower1 {
    left: 0;
    -webkit-animation: caterpillarCrawl 1s ease-out alternate infinite;
    animation: caterpillarCrawl 1s ease-out alternate infinite;
    width: 45px;
    height: 45px;
    top: -10px;
    background: #066c06;
    z-index: 2;
}

.loader-22 .flower1:before {
    dissplay: none;
}

.loader-22 .flower2 {
    left: 10px;
    -webkit-transform: rotate(180deg) scale(0.45);
    -ms-transform: rotate(180deg) scale(0.45);
    transform: rotate(180deg) scale(0.45);
    -webkit-animation: caterpillarCrawl 1s 0.1s ease-out alternate infinite;
    animation: caterpillarCrawl 1s 0.1s ease-out alternate infinite;
}

.loader-22 .flower3 {
    left: 20px;
    -webkit-transform: rotate(180deg) scale(0.4);
    -ms-transform: rotate(180deg) scale(0.4);
    transform: rotate(180deg) scale(0.4);
    -webkit-animation: caterpillarCrawl 1s 0.2s ease-out alternate infinite;
    animation: caterpillarCrawl 1s 0.2s ease-out alternate infinite;
}

.loader-22 .flower4 {
    left: 30px;
    -webkit-transform: rotate(180deg) scale(0.35);
    -ms-transform: rotate(180deg) scale(0.35);
    transform: rotate(180deg) scale(0.35);
    -webkit-animation: caterpillarCrawl 1s 0.3s ease-out alternate infinite;
    animation: caterpillarCrawl 1s 0.3s ease-out alternate infinite;
}

.loader-22 .flower5 {
    left: 40px;
    -webkit-transform: rotate(180deg) scale(0.3);
    -ms-transform: rotate(180deg) scale(0.3);
    transform: rotate(180deg) scale(0.3);
    -webkit-animation: caterpillarCrawl 1s 0.4s ease-out alternate infinite;
    animation: caterpillarCrawl 1s 0.4s ease-out alternate infinite;
}

.loader-22 .flower6 {
    left: 50px;
    -webkit-transform: rotate(180deg) scale(0.25);
    -ms-transform: rotate(180deg) scale(0.25);
    transform: rotate(180deg) scale(0.25);
    -webkit-animation: caterpillarCrawl 1s 0.5s ease-out alternate infinite;
    animation: caterpillarCrawl 1s 0.5s ease-out alternate infinite;
}
/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 #18ffff;
        box-shadow: 0 0 0 #18ffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
        box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    }
}

@keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 #18ffff;
        box-shadow: 0 0 0 #18ffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #e11a2b, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
        box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    }
}

@-webkit-keyframes loader-2-star {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}

@keyframes loader-2-star {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}

@-webkit-keyframes dot-jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes dot-jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ball-turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dotted-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes dotted-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes hike {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    25% {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }
    50% {
        -webkit-transform: translate(40px, 0px);
        transform: translate(40px, 0px);
    }
    75% {
        -webkit-transform: translate(60px, -20px);
        transform: translate(60px, -20px);
    }
    100% {
        -webkit-transform: translate(80px, 0px);
        transform: translate(80px, 0px);
    }
}

@keyframes hike {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    25% {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }
    50% {
        -webkit-transform: translate(40px, 0px);
        transform: translate(40px, 0px);
    }
    75% {
        -webkit-transform: translate(60px, -20px);
        transform: translate(60px, -20px);
    }
    100% {
        -webkit-transform: translate(80px, 0px);
        transform: translate(80px, 0px);
    }
}

@-webkit-keyframes border-zoom {
    0% {
        border-width: 0px;
    }
    100% {
        border-width: 10px;
    }
}

@keyframes border-zoom {
    0% {
        border-width: 0px;
    }
    100% {
        border-width: 10px;
    }
}
/*@-webkit-keyframes line-grow {
0% {
height: 0;
}
100% {
height: 75%;
}
}*/

@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: 75%;
    }
}

@-webkit-keyframes star-jump {
    0% {
        -webkit-transform: translateY(0) scale(0.7);
        transform: translateY(0) scale(0.7);
    }
    100% {
        -webkit-transform: translateY(-15px) scale(1);
        transform: translateY(-15px) scale(1);
    }
}

@keyframes star-jump {
    0% {
        -webkit-transform: translateY(0) scale(0.7);
        transform: translateY(0) scale(0.7);
    }
    100% {
        -webkit-transform: translateY(-15px) scale(1);
        transform: translateY(-15px) scale(1);
    }
}

@-webkit-keyframes stars-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes stars-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes times-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes times-pulse {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes times-background {
    0%,
    100% {
        background: blueviolet;
    }
    60% {
        background: #ff3d00;
    }
}

@keyframes times-background {
    0%,
    100% {
        background: blueviolet;
    }
    60% {
        background: #ff3d00;
    }
}

@-webkit-keyframes star-pulse {
    0%,
    100% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
        opacity: 0.5;
    }
    25% {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale(2) rotate(0deg);
        transform: scale(2) rotate(0deg);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(1.5) rotate(90deg);
        transform: scale(1.5) rotate(90deg);
    }
}

@keyframes star-pulse {
    0%,
    100% {
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
        opacity: 0.5;
    }
    25% {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale(2) rotate(0deg);
        transform: scale(2) rotate(0deg);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(1.5) rotate(90deg);
        transform: scale(1.5) rotate(90deg);
    }
}

@-webkit-keyframes stars-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    50% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    75% {
        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes stars-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    50% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    75% {
        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes stars-catch {
    0% {}
    25% {}
    50% {}
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {}
}

@keyframes stars-catch {
    0% {}
    25% {}
    50% {}
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {}
}

@-webkit-keyframes star-fly-out {
    0% {
        top: 19px;
        left: 19px;
    }
    100% {}
}

@keyframes star-fly-out {
    0% {
        top: 19px;
        left: 19px;
    }
    100% {}
}

@-webkit-keyframes star-cube {
    0%,
    100% {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
{}
25% {
    -webkit-transform: translate(60px);
    transform: translate(60px);
}
50% {
    -webkit-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
}
75% {
    -webkit-transform: translate(0px, 60px);
    transform: translate(0px, 60px);
}
}

@keyframes star-cube {
    0%,
    100% {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
{}
25% {
    -webkit-transform: translate(60px);
    transform: translate(60px);
}
50% {
    -webkit-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
}
75% {
    -webkit-transform: translate(0px, 60px);
    transform: translate(0px, 60px);
}
}

@-webkit-keyframes star-big-pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(5);
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes star-big-pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(5);
        transform: scale(5);
        opacity: 0;
    }
}

@-webkit-keyframes star-small-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes star-small-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@-webkit-keyframes star-flicker {
    0% {
        -webkit-transform: rotate(180deg) scale(0.35);
        transform: rotate(180deg) scale(0.35);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.1);
        transform: rotate(180deg) scale(0.1);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(0.35);
        transform: rotate(180deg) scale(0.35);
    }
}

@keyframes star-flicker {
    0% {
        -webkit-transform: rotate(180deg) scale(0.35);
        transform: rotate(180deg) scale(0.35);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.1);
        transform: rotate(180deg) scale(0.1);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(0.35);
        transform: rotate(180deg) scale(0.35);
    }
}

@-webkit-keyframes star-catcher {
    0% {
        opacity: 0.5;
    }
    /*12.5% { opacity: 1;  }*/
    25% {
        opacity: 0.5;
    }
    /*  37.5% {  opacity: 1;  }*/
    50% {
        opacity: 0.5;
    }
    /*  62.5% {opacity: 1;}*/
    75% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes star-catcher {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}


@-webkit-keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; }
}


@keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; }
}


@-webkit-keyframes star-crazyness {
    0% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
        transform: rotate(180deg) translate(0px, 0) scale(0.6);
    }
    25% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
        transform: rotate(180deg) translate(0, 0) scale(0.2);
    }
    50% {
        opacity: 0.7;
        -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
        transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
        transform: rotate(180deg) translate(0, 0) scale(0.6);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
        transform: rotate(180deg) translate(5px, 0) scale(0.1);
    }
    100% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
        transform: rotate(180deg) translate(0, 0) scale(0.6);
    }
}

@keyframes star-crazyness {
    0% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
        transform: rotate(180deg) translate(0px, 0) scale(0.6);
    }
    25% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
        transform: rotate(180deg) translate(0, 0) scale(0.2);
    }
    50% {
        opacity: 0.7;
        -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
        transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
        transform: rotate(180deg) translate(0, 0) scale(0.6);
    }
    80% {
        opacity: 1;
        -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
        transform: rotate(180deg) translate(5px, 0) scale(0.1);
    }
    100% {
        opacity: 0.4;
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
        transform: rotate(180deg) translate(0, 0) scale(0.6);
    }
}

@-webkit-keyframes star-crawl {
    0% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.2);
        transform: rotate(180deg) translateY(0) scale(0.2);
    }
    20% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.3);
        transform: rotate(180deg) translateY(0) scale(0.3);
    }
    40% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    60% {
        -webkit-transform: rotate(90deg) translateY(0) scale(0.4);
        transform: rotate(90deg) translateY(0) scale(0.4);
    }
    80% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    100% {
        -webkit-transform: rotate(180deg) translateY(25px) scale(0.2);
        transform: rotate(180deg) translateY(25px) scale(0.2);
    }
}

@keyframes star-crawl {
    0% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.2);
        transform: rotate(180deg) translateY(0) scale(0.2);
    }
    20% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.3);
        transform: rotate(180deg) translateY(0) scale(0.3);
    }
    40% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    60% {
        -webkit-transform: rotate(90deg) translateY(0) scale(0.4);
        transform: rotate(90deg) translateY(0) scale(0.4);
    }
    80% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    100% {
        -webkit-transform: rotate(180deg) translateY(25px) scale(0.2);
        transform: rotate(180deg) translateY(25px) scale(0.2);
    }
}

@-webkit-keyframes caterpillarCrawl {
    0% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.2);
        transform: rotate(180deg) translateY(0) scale(0.3);
    }
    20% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.3);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    40% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.5);
    }
    60% {
        -webkit-transform: rotate(90deg) translateY(0) scale(0.4);
        transform: rotate(90deg) translateY(0) scale(0.5);
    }
    80% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(180deg) translateY(25px) scale(0.2);
        transform: rotate(180deg) translateY(25px) scale(0.3);
    }
}

@keyframes caterpillarCrawl {
    0% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.2);
        transform: rotate(180deg) translateY(0) scale(0.3);
    }
    20% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.3);
        transform: rotate(180deg) translateY(0) scale(0.4);
    }
    40% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.5);
    }
    60% {
        -webkit-transform: rotate(90deg) translateY(0) scale(0.4);
        transform: rotate(90deg) translateY(0) scale(0.5);
    }
    80% {
        -webkit-transform: rotate(180deg) translateY(0) scale(0.4);
        transform: rotate(180deg) translateY(0) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(180deg) translateY(25px) scale(0.2);
        transform: rotate(180deg) translateY(25px) scale(0.3);
    }
}